[Unit]
Description=Meshtastic/ADS-B bridge
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60
User=pi
WorkingDirectory=/home/pi/adsb_actions
Environment="PYTHONPATH=/home/pi/adsb_actions/src"
ExecStart=/home/pi/adsb_actions/bin/python3 /home/pi/adsb_actions/src/op_pusher/op_pusher.py --ipaddr 127.0.0.1 --port 30006 --rules /home/pi/adsb_actions/src/op_pusher/rulessjc.yaml 

[Install]
WantedBy=multi-user.target
