[Unit]
Description=Meshtastic/ADS-B bridge
After=network.target
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=mesh-adsb
Type=simple
Restart=always
RestartSec=60
User=pi
ExecStart=/home/pi/mesh_adsb/bin/python3 /home/pi/mesh_adsb/mesh_receiver.py --host 192.168.87.56 --path /home/pi/mesh_adsb/icao_map.yaml --share_input_port 8869

[Install]
WantedBy=multi-user.target
